@model IEnumerable<PTPMQL.Models.HangHoa>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PhanLoai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiaBan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SLBan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SLTon)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PhanLoai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ten)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiaBan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SLBan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SLTon)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaHangHoa }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaHangHoa }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaHangHoa })
        </td>
    </tr>
}

</table>
